<body>
  <div class="img-contnr">
    <img src="/images/home.jpg" alt="" srcset="">
  </div>

  <div class="section3 flex">
    <%- include ("serviceMenu.ejs" )%>
    <div class="about-right">
      <div class="things-to-know">
        <h2>OUR MISSION</h2>
        <br />
        <br />
        <p>
          At Living Spring Home Care Services, our mission is to improve the
          health and quality of life of the seniors and adults with disabilities
          as we serve their needs with dignity, respect, responsiveness and
          compassion by providing professional home care services.
        </p>
        <p>
          The owner founded this agency by working as a private home care
          provider, as a care manager, Scheduler and recruiter for several
          agencies in which she established relationships with outside members
          of the home care field and care providers.
        </p>
        <p>
          In doing so, she became such an asset to home care agencies that the
          demand for her services became overwhelming. As a result, she was then
          obligated to create a staff, form a business, and inherit a lifelong
          career in serving clients. Behind this much needed service, she
          developed a large reputation of providing the highest quality care
          within the community. she established valued relationships with
          clients, caregivers, and many other people within the community in
          which she serviced. We intend to continue that custom by hiring
          quality home care providers.
          <strong>Thank you for choosing Living Spring Services to Serve
            you!!</strong>
        </p>
      </div>
      <div class="things-to-know">
        <div style="max-height: 600px;max-width:10240px;" class="img-contnrc">
          <img style="max-height:600px;max-width: 1024px;width: 100%;" src="/images/health4.jpg" alt="" srcset="">
        </div>
        <h2>OUR CAREGIVERS</h2>
        <br /><br />
        <p>
          To ensure that our clients are receiving the highest quality of care
          from our Home Care Agency, each of our home care providers has been
          trained specifically to provide compassionate assistance for your
          loved one, using industry best practices, health, and safety
          standards.
        </p>
        <p>
          Our home care providers are the heart and soul of our home care
          services, which is why we are very proud of each of them, ensuring
          your loved one receives the highest level of care possible. Before our
          caregivers are hired, they must each pass a detailed background check,
          and become licensed, bonded, and insured with our agency for your
          peace of mind. But before they are sent to your home, they must pass a
          training session and prove their capability to provide compassionate
          and professional care services.
        </p>
      </div>
    </div>
  </div>
</body>