<body>
  <div class="img-contnr">
    <img src="/images/health5.jpg" alt="" srcset="">
  </div>
  <div class="section3 flex ">
    <%- include ("serviceMenu.ejs" )%>
    <div class="about-right">
      <div id="alzheimer-demential-memory-care-services" class="things-to-know">
        <h2> ALZHEIMER’S, DEMENTIA AND MEMORY CARE SERVICES</h2>
        <br>
        <br>
        <p>
          Those suffering from Alzheimer’s, Parkinson’s disease, and other forms of dementia benefit from receiving care
          in their own homes. However, those suffering from these conditions need consistent care to manage their
          symptoms and keep them safe which is difficult for families to provide. We can provide effective memory care
          services that will help your loved ones with dementia live safely at home.
          Our caregivers at Living Spring Home Care Services have the specialized training to care for those with
          Alzheimer’s and dementia throughout the progression of the disease. Our caregivers can respond to agitation
          and mood swings with positive reinforcement and we will engage your loved ones in mentally stimulating
          exercises to help reduce memory loss.
          <br>
          <strong>Our Alzheimer’s and Dementia care services provide the following:</strong>
          <br>
          <br>
        <ul class="wwd-list">
          <li><strong>Companionship: </strong> It is important for those suffering from these conditions to be
            surrounded by familiar, friendly faces. Our caregivers will build a personal relationship with your loved
            ones and get to know them through friendly conversation. We will also engage them in their favorite hobbies
            and activities which can stabilize their mood and reduce memory loss.</li>
          <li><strong>Personal Care: </strong> Our caregivers can help keep the home clean by helping with light
            housekeeping duties. We will take care of household chores including laundry, vacuuming, dusting and
            emptying the trash.</li>
          <li><strong>Meal Preparation:</strong> Eating regular, nutritious meals is important for the health and
            well-being of seniors. However, many seniors cannot prepare meals themselves. Our caregivers will prepare
            meals for you or your loved ones each day that follow their dietary restrictions and we will even help with
            the grocery shopping.</li>
          <li><strong>Wandering: </strong> Those who wander around may put themselves in danger, especially if they
            manage to leave the home. Our caregivers will help your loved ones and ensure that they move around safely
            and stay in the home.</li>
          <li><strong>Medication Reminders: </strong> We will make sure your loved ones never miss a dose by ensuring
            they take their medication at the right time.</li>
          <li><strong>Meal Preparation: </strong>Our caregivers will prepare meals daily for your loved ones to make
            sure they are getting enough nutrition. We will prepare meals in accordance with their dietary restrictions.
          </li>
        </ul>
        <p>When you call Living Spring Home Care Services, we will meet with you and your loved ones in their home for
          an in-home consultation. During this consultation, we will evaluate the care needs of your loved one and help
          create an effective care plan. We will update you if there are any changes in your loved one’s condition and
          our care plan can be adjusted as the disease progresses.</p>
        <br>
        </p>

        <br>

      </div>
    </div>
  </div>

</body>