<body>
  <div class="section3 flex">
    <%- include ("serviceMenu.ejs" )%>
    <div class="about-right">
      <div class="things-to-know">
        <h2>SCHEDULE A CONSULTATION</h2>
        <br />
        <br />
        <p>
          <em><strong>&quotYour wellbeing. Our concern.&quot</strong></em>
          <br />
          Please complete the contact form below. Upon receipt of your
          information our care manager will reach out. <br />
          We’d love to hear from you:
        </p>
      </div>
      <form action="mailto:info@livingspringservices.com">
        <div class="container container2">
          <h1>Contact Form</h1>
          <p>Please fill this form to contact us. We will respond shortly</p>
          <hr />

          <label for="firstname"><b>First Name</b></label>
          <input type="text" placeholder="Enter First Name" name="firstname" id="firstname" required />

          <label for="lastname"><b>Last Name</b></label>
          <input type="text" placeholder="Enter Last Name" name="lastname" id="lastname" required />

          <label for="mobile-number"><b>Mobile Number</b></label>
          <input type="text" placeholder="Enter Mobile Number" name="mobile-number" id="mobile-number" required />
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" id="email" required />

          <label for="interest"><b>I'm interested in:</b></label>
          <select id="interest" name="interest">
            <option value="information">Information</option>
            <option value="booking">Booking</option>
            <option value="complaint">Complaint</option>
            <option value="general-help">General</option>
          </select>

          <label for="message"><b>How Can We Help You?</b></label>
          <textarea id="message" name="message" rows="10" cols="30"></textarea>
          <button type="submit" class="registerbtn">Register</button>
        </div>
      </form>
    </div>
  </div>
  <div class="contact-message things-to-know container flex">
    <h2>
      <div class="logoCont">
        <a href="/"><img src="/images/livingspring.png" id="Logo" alt="LOGO" /></a>
      </div>
      LIVING SPRING SERVICES | HOME CARE
    </h2>
    <br />
    <div class="google-map fle"> <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2964.1886492976237!2d-87.75023958424921!3d42.01768526464578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fcf1d6a87fe69%3A0x17b0b2f36008aa68!2s7514%20Skokie%20Blvd%20%23006%2C%20Skokie%2C%20IL%2060077%2C%20USA!5e0!3m2!1sen!2sng!4v1595801779542!5m2!1sen!2sng"
        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
        tabindex="0"></iframe></div>

    <br />
  </div>
</body>