<body>
  <div class="img-contnr">
    <img src="/images/elderly-care-image.jpg" alt="" srcset="">
  </div>
  <div class="section3 flex ">
    <%- include ("serviceMenu.ejs" )%>
    <div class="about-right">
      <div id="elderly-care-services" class="things-to-know">
        <h2>ELDERLY CARE SERVICES</h2>
        <br>
        <br>
        <p>
          We will form a complete elder care plan that accommodates the unique needs of our clients and assign one of
          our highly trained and licensed caregivers to ensure that your loved ones receive quality care.
          <br>
          Living Spring Home Care Services provides complete elderly care services to help senior citizens age safely
          and comfortably in their own homes. Our staff will assess the care needs of the clients and work with them or
          family to create a care plan and schedule that benefits all involved. We will choose a caregiver who we feel
          will provide excellent care services and be a good fit as a companion for the client.
          <br>
          Our elderly care services start with a visit from our staff to evaluate the home and unique care needs of the
          client. With input from you and your loved ones, we will form a care plan that accommodates their care needs
          and includes a schedule for our caregiver. Our home care plans can always be adjusted if the care needs of
          your loved ones change.
          <br>
          <strong>We can include the following in our elderly home care plans:</strong>
          <br>
          <br>
        <ul class="wwd-list">
          <li>Assistance with activities of daily living (ADLs)</li>
          <li>Meal preparation</li>
          <li>Light housekeeping</li>
          <li>Errands and transportation</li>
          <li>Respite care</li>
          <li>Hospice care</li>
          <br>
          <strong>Our elderly care services can include the following depending on your or your loved one’s
            needs:</strong>
          <li><strong>Personal Care:</strong> Our caregivers are ready to assist elderly individuals with personal care
            including help bathing, getting dressed, using the restroom, and other activities. </li>
          <li><strong>Companionship: </strong> Our caregivers will act as a companion for your loved ones, getting to
            know them on a personal level through conversation and engaging with them in their favorite hobbies and
            activities.</li>
          <li><strong>Fall Prevention:</strong> We will reduce the risk of falls by keeping walkways in the home clear
            and guiding your loved ones as they move throughout the home.</li>
          <li><strong>Meal Preparation:</strong> We can help seniors who do not cook for themselves by preparing
            nutritious meals for them each day. We will make sure to follow any dietary restrictions when preparing
            meals.</li>
          <li><strong>Transportation and Errands:</strong> We can provide transportation services to help them make
            their doctor appointments, family gatherings, and other events. Our caregivers will also help with errands
            as needed.</li>
          <li><strong>Light Housekeeping:</strong> It is important to keep the home clean, but it can be difficult for
            elderly individuals to handle many housekeeping tasks. Our caregivers will take care of certain housekeeping
            tasks, including laundry, vacuuming, emptying trash, and dusting to keep the home clean..</li>
          <li><strong>Respite Care:</strong> Family caregivers spend long hours providing care for their loved ones and
            need some time off to handle their personal matters. With our respite care services, we can schedule one of
            our caregivers to relieve the family caregiver and give them some time off.</li>
          <li><strong>Alzheimer’s and Dementia Care:</strong> It is beneficial for those suffering from Alzheimer’s and
            other forms of dementia to receive care at home because it is a familiar environment. Our caregivers are
            trained to provide care for those suffering from these conditions, including memory care that can help slow
            their memory loss.</li>
          <li><strong>Hospice Care:</strong> Caring for a loved one with limited life expectancy or a terminal illness
            can be difficult while also trying to manage their end of life affairs. With our hospice care services, we
            will provide care for your loved ones and keep them comfortable while you visit with them and handle their
            affairs. </li>
        </ul>
        </p>
        <br>

      </div>
    </div>
  </div>
</body>