<body>
  <div class="img-contnr">
    <img src="/images/fall-prevent-image.jpg" alt="" srcset="">
  </div>
  <div class="section3 flex ">
    <%- include ("serviceMenu.ejs" )%>
    <div class="about-right">
      <div id="fall-prevention-services" class="things-to-know">
        <h2>FALL PREVENTION SERVICES</h2>
        <br>
        <br>
        <p>
          Per the CDC, most severe injuries and deaths for elderly adults older than 65 years old are caused by falls as
          a result of medications, illnesses, and environmental factors.
          <br>
          Their data also states that seniors are 75 percent more likely to suffer another fall within six months.
          <br>
          A neat, tidy, organized home environment, can greatly reduce the risk of falls while a crowded, messy living
          space, leads to a heightened risk. Less allergens can also relieve chronic allergies and respiratory issues,
          but cleaning can be a tough task for some seniors.
          <br>
          Our friendly, well-trained caregivers know the causes and risks of falling. We can help with the following:
          <br>
          <br>
        <ul class="wwd-list">
          <li>Getting up and out of bed and from chairs</li>
          <li>Preparing meals</li>
          <li>Cleaning the home</li>
          <li>Physical therapy exercises</li>
          <li>Engaging in conversations </li>
          <li>Participating in mental stimulation games</li>
          <li>Providing medication reminders</li>
        </ul>
        </p>
        <br>

      </div>
    </div>
  </div>
</body>