<div class="img-contnr">
    <img src="/images/home-careimage.jpg" alt="" srcset="">
</div>

<div class="section3 flex ">
    <%- include ("serviceMenu.ejs" )%>
    <div class="about-right">
        <div class="things-to-know">
            <h2>HOME CARE RESOURCES</h2>
            <br>
            <h2>Long Term Home Care Insurance</h2>
            <p>
                Long term home care insurance is complex. But we are here to help. Long Term Care (LTC) insurance is
                increasingly common and because Living Spring Home Care Services is a licensed Home Care Agency in the
                state of Illinois our services are covered under LTC insurance plans. If you intend to use your LTC
                insurance, please notify us to discuss coverage.
            </p>
            <p>
                LTC insurance policies differ in their requirements for reimbursement. Most require the insured is in
                need of assistance with two to four of the <strong>Activities of Daily Living (ADL’s)</strong> . There
                are six basic ADL’s: eating, bathing, dressing, toileting, transferring (walking) and continence. Some
                Long Term Care insurance companies require hospitalization and/or an elimination period before coverage
                begins. Most LTC policies have daily maximum benefits and some have maximum lifetime and other coverage
                restrictions or limitations. We recommend taking the time to review and understand your policy in order
                to get the most benefits from your investment.
            </p>
            <p>
                LTC policies have various qualifications for payment. Due to the HIPPA Privacy Act, insurance companies
                require the insured to make the initial contact with the provider. We ask that you contact your
                insurance company and tell them that Living Spring Services, LLC is going to be providing a personal
                caregiver for you. In addition, we will need you to request coverage information regarding your policy
                from your insurance company and ask that you provide it to us. After we receive this information from
                you, Living Spring Home Care Services will work directly with your insurance company. We will
                immediately forward all the required agency information to your insurance company to begin your
                benefits. After we begin services, we will provide all of the required documentation along with your
                invoice each billing period.
            </p>
            <br>
            <br>
            <p>
                <strong>Please request the following information from your insurance company and forward to our
                    office:</strong>
            <ul class="wwd-list">
                <li>Policy Number.</li>
                <li>Daily Maximum Benefits.</li>
                <li>Elimination period, if any. The elimination, or waiting period, is the length of time you must wait
                    and pay for services before your insurance company begins coverage.</li>
                <li>Billing address of insurance company, if applicable.</li>
            </ul>
            <br>
            <br>
            </p>
        </div>
        <div id="home-care-benefits" class="things-to-know">
            <h2>BENEFITS OF HIRING A HOME CARE AGENCY</h2>
            <br>
            <br>
            <p>
                Choosing a caregiver for someone you love is an important decision and the task of finding a qualified,
                dependable and legal Caregiver can be a challenge and overwhelming.
                <br>
                Please take a moment to review the advantages and benefits of hiring Living Spring Services. We think
                you will agree that allowing us to become your trusted partner during this life changing time will
                provide you peace of mind and help to insure that your home care experience will be as stress free and
                successful as possible.
                <br>
                <strong>Advantages of Hiring Living Spring Services to serve you:</strong>
                <br>
            <ul class="wwd-list">
                <li>Caregiver professional and personal references are thoroughly checked</li>
                <li>Caregivers are fingerprinted and backgrounds are screened through the Illinois state police</li>
                <li>Caregivers are covered under Living Spring Services workmen’s compensation</li>
                <li>All Caregivers are our employees and State/Federal taxes are paid through Living Spring Services
                </li>
                <li>All Caregivers are trained per Illinois Department of Public Health and Living Spring Services
                    guidelines</li>
                <li>All Caregivers attend mandatory Alzheimer’s/Dementia training</li>
                <li>Physical exams and TB screenings are required for employment</li>
                <li>All Caregivers are legal to work in the U.S.</li>
                <li>All Caregivers speak English</li>
                <li>We match Caregivers to the client/family according to specific needs and abilities</li>
                <li>Home care costs can generally be written off on your tax returns</li>
                <li>Home care costs, through Living Spring Services, are covered under Long Term Care insurance</li>
            </ul>
            <br>
            <p> <strong>Reasons to Avoid Hiring a Private Caregiver</strong>
                <br>
                Under federal statutes, families who hire caregivers directly or through a contractor registry…
                <br></p>

            <ul class="wwd-list">
                <li>May be required to withhold and contribute to all necessary taxes (state and federal unemployment
                    insurances, state and federal tax withholdings, Medicare and Social Security)</li>
                <li>May be liable for unemployment claims/li>
                <li>Should carry liability insurance</li>
                <li>May be required to carry workers compensation insurance that covers medical expenses and lost wages
                    in case of a caregiver accident</li>
                <li>Could be on the hot seat for discrimination claims, wage/hour disputes</li>
                <li>Cannot do a criminal or credit check on an individual working in the home (Fair Credit Reporting
                    Act)</li>
                <li>Receive no supervision or an oversight from an agency</li>
                <li>Must continue to provide (and document) adequate sleep and break requirement per law</li>
                <li>Would have few or no back up options if the caregiver is not able to come to work for any reason
                </li>
                <li>May or may not be exempt from overtime – depending on the nature of work; please consult with a
                    labor attorney for the latest requirements in your state</li>
                <li>Home care costs can generally be written off on your tax returns</li>
                <li>Home care costs, through Living Spring Services, are covered under Long Term Care insurance</li>
            </ul>
            </p>
            <br>

        </div>

    </div>

</div>