<div class="img-contnr">
  <div class="about-image3"></div>
</div>

<div class="section3 flex ">
    <%- include ("serviceMenu.ejs" )%>
    <div class="about-right">
      <div class="things-to-know">
        <h2>HOME CARE RESOURCES</h2>
        <br>
        <h2>Long Term Home Care Insurance</h2>
        <p>
            Long term home care insurance is complex. But we are here to help. Long Term Care (LTC) insurance is increasingly common and because Living Spring Home Care Services is a licensed Home Care Agency in the state of Illinois our services are covered under LTC insurance plans. If you intend to use your LTC insurance, please notify us to discuss coverage.
        </p>
        <p>
            LTC insurance policies differ in their requirements for reimbursement. Most require the insured is in need of assistance with two to four of the <strong>Activities of Daily Living (ADL’s)</strong> . There are six basic ADL’s: eating, bathing, dressing, toileting, transferring (walking) and continence. Some Long Term Care insurance companies require hospitalization and/or an elimination period before coverage begins. Most LTC policies have daily maximum benefits and some have maximum lifetime and other coverage restrictions or limitations. We recommend taking the time to review and understand your policy in order to get the most benefits from your investment.
        </p>
        <p>
            LTC policies have various qualifications for payment. Due to the HIPPA Privacy Act, insurance companies require the insured to make the initial contact with the provider. We ask that you contact your insurance company and tell them that Living Spring Services, LLC is going to be providing a personal caregiver for you. In addition, we will need you to request coverage information regarding your policy from your insurance company and ask that you provide it to us. After we receive this information from you, Living Spring Home Care Services will work directly with your insurance company. We will immediately forward all the required agency information to your insurance company to begin your benefits. After we begin services, we will provide all of the required documentation along with your invoice each billing period. 
        </p>
        <br>
        <br>
        <p>
          <strong>Please request the following information from your insurance company and forward to our office:</strong>
          <ul class="wwd-list">
            <li>Policy Number.</li>
            <li>Daily Maximum Benefits.</li>
            <li>Elimination period, if any. The elimination, or waiting period, is the length of time you must wait and pay for services before your insurance company begins coverage.</li>
            <li>Billing address of insurance company, if applicable.</li>
          </ul>
          <br>
          <br>
        </p>
        </div>
        <div id= "home-care-benefits"class="things-to-know">
          <h2>BENEFITS OF HIRING A HOME CARE AGENCY</h2>
          <br>
          <br>
          <p>
            Choosing a caregiver for someone you love is an important decision and the task of finding a qualified, dependable and legal Caregiver can be a challenge and overwhelming.
            <br>
            Please take a moment to review the advantages and benefits of hiring Living Spring Services. We think you will agree that allowing us to become your trusted partner during this life changing time will provide you peace of mind and help to insure that your home care experience will be as stress free and successful as possible.
            <br>
            <strong>Advantages of Hiring Living Spring Services to serve you:</strong>
            <br>
            <ul class="wwd-list">
              <li>Caregiver professional and personal references are thoroughly checked</li>
              <li>Caregivers are fingerprinted and backgrounds are screened through the Illinois state police</li>
              <li>Caregivers are covered under Living Spring Services workmen’s compensation</li>
              <li>All Caregivers are our employees and State/Federal taxes are paid through Living Spring Services</li>
              <li>All Caregivers are trained per Illinois Department of Public Health and Living Spring Services guidelines</li>
              <li>All Caregivers attend mandatory Alzheimer’s/Dementia training</li>
              <li>Physical exams and TB screenings are required for employment</li>
              <li>All Caregivers are legal to work in the U.S.</li>
              <li>All Caregivers speak English</li>
              <li>We match Caregivers to the client/family according to specific needs and abilities</li>
              <li>Home care costs can generally be written off on your tax returns</li>
              <li>Home care costs, through Living Spring Services, are covered under Long Term Care insurance</li>
            </ul>
            <br>
            <p>            <strong>Reasons to Avoid Hiring a Private Caregiver</strong>
                <br>
                Under federal statutes, families who hire caregivers directly or through a contractor registry…
                <br></p>  

            <ul class="wwd-list">
              <li>May be required to withhold and contribute to all necessary taxes (state and federal unemployment insurances, state and federal tax withholdings, Medicare and Social Security)</li>
              <li>May be liable for unemployment claims/li>
              <li>Should carry liability insurance</li>
              <li>May be required to carry workers compensation insurance that covers medical expenses and lost wages in case of a caregiver accident</li>
              <li>Could be on the hot seat for discrimination claims, wage/hour disputes</li>
              <li>Cannot do a criminal or credit check on an individual working in the home (Fair Credit Reporting Act)</li>
              <li>Receive no supervision or an oversight from an agency</li>
              <li>Must continue to provide (and document) adequate sleep and break requirement per law</li>
              <li>Would have few or no back up options if the caregiver is not able to come to work for any reason</li>
              <li>May or may not be exempt from overtime – depending on the nature of work; please consult with a labor attorney for the latest requirements in your state</li>
              <li>Home care costs can generally be written off on your tax returns</li>
              <li>Home care costs, through Living Spring Services, are covered under Long Term Care insurance</li>
            </ul>  
          </p>
          <br>

          </div>

      </div>

</div>



<div style="margin: 20px;" id= "getting-started-homecare"class="things-to-know about-right">
    <h2 style="color:#eb2388 ;">GETTING STARTED WITH HOME CARE</h2>
<br>
<br>
<p>
    <strong>TAKE THE FIRST STEP FOR HOME CARE</strong>
    <br>
    When your ability to care for yourself or for a spouse, a family member or loved one is becoming problematic, it may be time to consider care. Care may begin with just a few hours a day to allow the family caregiver time to work, shop or for respite from the more demanding tasks like bathing, walking and transferring. Extended or full time care may be needed in cases of sharp declines in health. Whatever the need may be, the benefits and flexibility of home care remains the number one choice of seniors.
    <br>
    When making the decision for senior care, we advise you to consider the four fundamental areas of independent living:
    <br>
    <strong>1.	Activities of Daily Living and Instrumental Activities of Daily Living</strong>
    <br>
    Activities of Daily Living (ADL) are the day-to-day tasks that people generally do for themselves. There are six basic ADLs:
    <br>
    <ul class="wwd-list">
        <li>Eating</li>
        <li>Bathing</li>
        <li>Dressing</li>
        <li>Toileting</li>
        <li>Transferring (walking)</li>
        <li>Continence</li>
    </ul>
    <p>            The inability to perform even just one of the ADL’s is a signal that it is time for home care.
        <br>
        <strong>Instrumental Activities of Daily Living (IADL)</strong> are more complex skills needed to live independently. IADL’s include:
        <br></p>  

    <ul class="wwd-list">
        <li>Can they manage finances?</li>
        <li>Transportation (driving or navigating public transit)</li>
        <li>Shopping</li>
        <li>Preparing meals</li>
        <li>Using the telephone and other communication devices</li>
        <li>Managing medications</li>
        <li>Can they manage housework and basic home maintenance?</li>
    </ul>  
    <br>
    <p>           Care assessments should consider both ADLs and IADLs.  Together these skills represent what is necessary for seniors to manage their needs independently
        <br>
        The <a href="https://pbs.org" target="_blank">Checklist of Activities of daily Living (PDF) </a> provided at  pbs.org, provides more detailed guides to help to determine where assistance is needed and help in deciding if homecare may be necessary. </p>

</p>
<br>
<br>
<p>          <strong>2.	Physical Health</strong>
    <br>
    Another fundamental consideration is physical health. Three main components to physical health include:
    <br>
    <strong>Mobility</strong>  – The ability to safely move around the home and neighborhood without assistance or direction.
    <br>
    <strong>Vision</strong> – Impaired vision is a common part of aging but may include more serious problems like cataracts, glaucoma, eye floaters or other degenerative problems. It is important to monitor vision loss and to receive checkups as prescribed by your physician.   
    <br>
    <strong>Hearing </strong> – Loss or impaired hearing is another common concern of aging and can lead to balance or other related problems.   
    <br>
    Both hearing and vision problems can lead to reduced social interaction, depression, reduced quality of life and injuries from falls.  Physical health is an important consideration when considering home care. 
    <br>
    <br>
    <strong>3.	Mental Health</strong>
    <br>
    <strong>Memory</strong>  – In the early stages of dementia it is often hard to determine if memory loss is a result of normal aging or a disease process, (Alzheimer’s and/or dementia). If you suspect memory loss is more than normal aging, a discussion with your primary care physician is a good place to start.  The difference between normally occurring memory problems and problems caused by early stages of Dementia and/or Alzheimer’s can be hard to tell apart. A professional assessment should be discussed with the primary care physician (PCP).
    <br>
    <strong>Depression</strong> – Depression is another challenging diagnosis and can be confused with other medical issues. Assessing symptoms like; low energy, loss of appetite, and decreased interests should be discussed with the primary care physician (PCP).
    <br>
    <br>
    <strong>4.	Nutrition</strong>
    &NewLine;
    Nutrition can be a problem for seniors living alone. Appetite and proper nutrition often become a challenge for many reasons. Nutrition should be carefully considered when deciding on the need for personal care services. <strong>Questions to ask include:</strong> 
    <br></p>

<ul class="wwd-list">
    <li>Does the person have the ability to navigate to the market, shop for the right foods, store the food correctly and prepare the food?</li>
    <li>Is the person getting the correct amount and type of foods to meet daily health requirements?/li>
    <li>Is the person remembering to eat regularly?</li>
    <li>Is the person losing weight?</li>
    <li>Does the person seem well hydrated?</li>
    </ul>
    <p>
        It is important to consult your primary care physician (PCP) or a geriatric specialist to evaluate and advise on a person’s care requirements. 
        <br>
        What’s Next?
        &NewLine;
        If it is determined that home care is your next step, then you will need to learn about our eldercare services.          
        <br>
        <strong>Our services include:</strong>
        <br>
    </p>

<ul class="wwd-list">
    <li>Companionship and oversight</li>
    <li>Bathing</li>
    <li>Dressing</li>
    <li>Grooming</li>
    <li>Oral Hygiene</li>
    <li>Skin Care</li>
    <li>Medication Reminders</li>
    <li>Incontinence care</li>
    <li>Exercise and rehab compliance</li>
    <li>Homemaker and Companion</li>
    <li>Meal preparation</li>
    <li>Light housekeeping</li>
    <li>Laundry</li>
    <li>Errands and shopping</li>
    <li>Socialization</li>
    <li>Escort to appointments and outings</li>
    <li>Transferring</li>
    <li>Other individual needs/requests</li>
    </ul>  
<br>
<p>          <strong>Why Choose Living Spring Home Care Services?</strong></p>

<br>
<ul class="wwd-list">
    <li>Privately owned, not a franchise</li>
    <li>24 hour on call availability – Phones always answered by a person, not a machine</li>
    <li>Extensive experience in the home care industry</li>
    <li>Dedication to client service</li>
    <li>Our care manager manages clients care</li>
    <li>Specialized care programs including Alzheimer’s disease and Dementia</li>
    <li>Respite care that family caregivers need to create balance</li>
    <li>Compassionate, caring, patient and highly trained caregivers </li>
    <li>Considerate, concerned and responsive office staff </li>
    <li>Commitment to maintaining and/or improving our clients’ independence and quality of life</li>
    <li>Care is provided in single family homes, apartments, skilled nursing homes, retirement communities, rehab centers or hospitals</li>
    <li>Ability to work with out of town family members and custodians, maintaining good communication</li>
    <li>Weekend client services manager availability to make visits as necessary</li>
    <li>Ongoing follow-up and client services management for all our clients</li>
    <li>Our pledge to follow industry best practices</li>
    <li>Licensed by the Illinois Department of Public Health</li>
    </ul>  
<br>
<br>
<p>          <strong> Understand What to Expect</strong>
    <br>
    It is important to us that you fully understand the benefits and details of home care. Take the time to review your needs and organize your thoughts about what you believe you require. We encourage you to take the time to browse our entire website. You will find that we have the knowledge and expertise to make your home care experience a success; we can provide you with the confidence of knowing you will be receiving quality home care with ongoing supervision from our well trained and caring Caregivers and staff.
    <br>
    <strong> Contact Us</strong>
    <br>
    If you feel you or your loved one would or may benefit from home care services, Please <a href="/contact-us">contact us</a> . Let our experienced well trained staff guide you through the process of obtaining a personal caregiver.
    <br></p>

</p>
<br>
<br>
</div>