<div class="img-contnr">
    <img src="/images/getting-started-image.jpg" alt="" srcset="">
</div>

<div class="section3 flex">
    <%- include ("serviceMenu.ejs" )%>
    <div class="about-right">
        <div class="things-to-know">
            <h2 style="color:#eb2388 ;">GETTING STARTED WITH HOME CARE</h2>
            <br>
            <br>
            <p>
                <strong>TAKE THE FIRST STEP FOR HOME CARE</strong>
                <br>
                When your ability to care for yourself or for a spouse, a family member or loved one is becoming
                problematic, it
                may be time to consider care. Care may begin with just a few hours a day to allow the family caregiver
                time
                to
                work, shop or for respite from the more demanding tasks like bathing, walking and transferring. Extended
                or
                full
                time care may be needed in cases of sharp declines in health. Whatever the need may be, the benefits and
                flexibility of home care remains the number one choice of seniors.
                <br>
                When making the decision for senior care, we advise you to consider the four fundamental areas of
                independent
                living:
                <br>
                <strong>1. Activities of Daily Living and Instrumental Activities of Daily Living</strong>
                <br>
                Activities of Daily Living (ADL) are the day-to-day tasks that people generally do for themselves. There
                are
                six
                basic ADLs:
                <br>
            <ul class="wwd-list">
                <li>Eating</li>
                <li>Bathing</li>
                <li>Dressing</li>
                <li>Toileting</li>
                <li>Transferring (walking)</li>
                <li>Continence</li>
            </ul>
            <p> The inability to perform even just one of the ADL’s is a signal that it is time for home care.
                <br>
                <strong>Instrumental Activities of Daily Living (IADL)</strong> are more complex skills needed to live
                independently. IADL’s include:
                <br></p>

            <ul class="wwd-list">
                <li>Can they manage finances?</li>
                <li>Transportation (driving or navigating public transit)</li>
                <li>Shopping</li>
                <li>Preparing meals</li>
                <li>Using the telephone and other communication devices</li>
                <li>Managing medications</li>
                <li>Can they manage housework and basic home maintenance?</li>
            </ul>
            <br>
            <p> Care assessments should consider both ADLs and IADLs. Together these skills represent what is necessary
                for
                seniors to manage their needs independently
                <br>
                The <a href="https://pbs.org" target="_blank">Checklist of Activities of daily Living (PDF) </a>
                provided at
                pbs.org, provides more detailed guides to help to determine where assistance is needed and help in
                deciding
                if
                homecare may be necessary. </p>

            </p>
            <br>
            <br>
            <p> <strong>2. Physical Health</strong>
                <br>
                Another fundamental consideration is physical health. Three main components to physical health include:
                <br>
                <strong>Mobility</strong> – The ability to safely move around the home and neighborhood without
                assistance
                or
                direction.
                <br>
                <strong>Vision</strong> – Impaired vision is a common part of aging but may include more serious
                problems
                like
                cataracts, glaucoma, eye floaters or other degenerative problems. It is important to monitor vision loss
                and
                to
                receive checkups as prescribed by your physician.
                <br>
                <strong>Hearing </strong> – Loss or impaired hearing is another common concern of aging and can lead to
                balance
                or other related problems.
                <br>
                Both hearing and vision problems can lead to reduced social interaction, depression, reduced quality of
                life
                and
                injuries from falls. Physical health is an important consideration when considering home care.
                <br>
                <br>
                <strong>3. Mental Health</strong>
                <br>
                <strong>Memory</strong> – In the early stages of dementia it is often hard to determine if memory loss
                is a
                result of normal aging or a disease process, (Alzheimer’s and/or dementia). If you suspect memory loss
                is
                more
                than normal aging, a discussion with your primary care physician is a good place to start. The
                difference
                between normally occurring memory problems and problems caused by early stages of Dementia and/or
                Alzheimer’s
                can be hard to tell apart. A professional assessment should be discussed with the primary care physician
                (PCP).
                <br>
                <strong>Depression</strong> – Depression is another challenging diagnosis and can be confused with other
                medical
                issues. Assessing symptoms like; low energy, loss of appetite, and decreased interests should be
                discussed
                with
                the primary care physician (PCP).
                <br>
                <br>
                <strong>4. Nutrition</strong>
                &NewLine;
                Nutrition can be a problem for seniors living alone. Appetite and proper nutrition often become a
                challenge
                for
                many reasons. Nutrition should be carefully considered when deciding on the need for personal care
                services.
                <strong>Questions to ask include:</strong>
                <br></p>

            <ul class="wwd-list">
                <li>Does the person have the ability to navigate to the market, shop for the right foods, store the food
                    correctly and prepare the food?</li>
                <li>Is the person getting the correct amount and type of foods to meet daily health requirements?/li>
                <li>Is the person remembering to eat regularly?</li>
                <li>Is the person losing weight?</li>
                <li>Does the person seem well hydrated?</li>
            </ul>
            <p>
                It is important to consult your primary care physician (PCP) or a geriatric specialist to evaluate and
                advise on
                a person’s care requirements.
                <br>
                What’s Next?
                &NewLine;
                If it is determined that home care is your next step, then you will need to learn about our eldercare
                services.
                <br>
                <strong>Our services include:</strong>
                <br>
            </p>

            <ul class="wwd-list">
                <li>Companionship and oversight</li>
                <li>Bathing</li>
                <li>Dressing</li>
                <li>Grooming</li>
                <li>Oral Hygiene</li>
                <li>Skin Care</li>
                <li>Medication Reminders</li>
                <li>Incontinence care</li>
                <li>Exercise and rehab compliance</li>
                <li>Homemaker and Companion</li>
                <li>Meal preparation</li>
                <li>Light housekeeping</li>
                <li>Laundry</li>
                <li>Errands and shopping</li>
                <li>Socialization</li>
                <li>Escort to appointments and outings</li>
                <li>Transferring</li>
                <li>Other individual needs/requests</li>
            </ul>
            <br>
            <p> <strong>Why Choose Living Spring Home Care Services?</strong></p>

            <br>
            <ul class="wwd-list">
                <li>Privately owned, not a franchise</li>
                <li>24 hour on call availability – Phones always answered by a person, not a machine</li>
                <li>Extensive experience in the home care industry</li>
                <li>Dedication to client service</li>
                <li>Our care manager manages clients care</li>
                <li>Specialized care programs including Alzheimer’s disease and Dementia</li>
                <li>Respite care that family caregivers need to create balance</li>
                <li>Compassionate, caring, patient and highly trained caregivers </li>
                <li>Considerate, concerned and responsive office staff </li>
                <li>Commitment to maintaining and/or improving our clients’ independence and quality of life</li>
                <li>Care is provided in single family homes, apartments, skilled nursing homes, retirement communities,
                    rehab
                    centers or hospitals</li>
                <li>Ability to work with out of town family members and custodians, maintaining good communication</li>
                <li>Weekend client services manager availability to make visits as necessary</li>
                <li>Ongoing follow-up and client services management for all our clients</li>
                <li>Our pledge to follow industry best practices</li>
                <li>Licensed by the Illinois Department of Public Health</li>
            </ul>
            <br>
            <br>
            <p> <strong> Understand What to Expect</strong>
                <br>
                It is important to us that you fully understand the benefits and details of home care. Take the time to
                review
                your needs and organize your thoughts about what you believe you require. We encourage you to take the
                time
                to
                browse our entire website. You will find that we have the knowledge and expertise to make your home care
                experience a success; we can provide you with the confidence of knowing you will be receiving quality
                home
                care
                with ongoing supervision from our well trained and caring Caregivers and staff.
                <br>
                <strong> Contact Us</strong>
                <br>
                If you feel you or your loved one would or may benefit from home care services, Please <a
                    href="/contact-us">contact us</a> . Let our experienced well trained staff guide you through the
                process
                of
                obtaining a personal caregiver.
                <br></p>

            </p>
            <br>
            <br>
        </div>
    </div>
</div>