<body>
  <div class="img-contnr">
    <img src="/images/hospice-image.jpg" alt="" srcset="">
  </div>
  <div class="section3 flex">
    <%- include ("serviceMenu.ejs" )%>
    <div class="about-right">
      <div id="hospice-care-services" class="things-to-know">
        <h2>HOSPICE CARE SERVICES</h2>
        <br />
        <br />
        <p>
          Our caregivers will provide care to help keep those affected
          comfortable and pain free so they can live their final days with peace
          and dignity.
          <br />
          Hospice care is the care that people receive when they have a limited
          life expectancy or a terminal illness. The purpose of hospice care is
          to keep the care recipient as comfortable and pain free as possible
          and allow them to live their remaining days with dignity.
          <br />
          At Living Spring Home Care Services, our caregivers provide personal
          care and companionship for senior citizens to ensure that they get
          excellent care and meaningful companionship. Our caregivers aim to
          provide more than just quality care for you or your loved ones. We
          will get to know you or your loved ones on a personal level to be a
          friend to them and provide them with good company.
          <br />
          Our caregivers can provide your loved ones with hospice care which
          will allow your family to manage other affairs and visit with your
          loved ones. Our care manager will help develop a personalized care
          plan based on your loved one’s unique needs to help keep them
          comfortable and pain free.
          <br />
          Our hospice care services start with an in-home assessment so that we
          can understand the specific care needs of your loved one. We will then
          form a care plan that includes non-medical assistance to address their
          needs and ensure they are comfortable in their final days.
        </p>
        <br />
      </div>
    </div>
  </div>
</body>