<div class="containerForTagline">
  <div class="imgcont">
    <img src="/images/health3.jpg" alt="" />
  </div>

  <h2>
    Quality care you deserve
  </h2>
  <p>
    Home is where the heart is! and that's why Living spring services' flexible
    care options help you keep your independence. From hourly, overnight or
    live-in care - you'll continue to live the life you love from the coziness
    of your own home
  </p>
</div>
