<style>
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");

  .containerForTagline {
    max-width: 1200px;
    margin: auto;
    display: block;
    padding: 10px 40px;
  }
  .imgcont {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imgcont img {
    max-width: 460px;

    width: 100%;
    box-shadow: 1px 0px 14px #999;
  }
  .containerForTagline h2 {
    margin-top: 10px;
    text-align: center;
    color: #f7429c;
  }

  .containerForTagline p {
    /* margin-top: 10px; */
    font-weight: 200;
    /* color: #f7429c; */
  }
  @media (min-width: 980px) {
    .containerForTagline {
      display: none;
    }
  }
</style>

<div class="containerForTagline">
  <div class="imgcont">
    <img src="/images/health3.jpg" alt="" />
  </div>

  <h2>
    Quality care you deserve
  </h2>
  <p>
    Home is where the heart is! and that's why Living spring services' flexible
    care options help you keep your independence. From hourly, overnight or
    live-in care - you'll continue to live the life you love from the coziness
    of your own home
  </p>
</div>

<script></script>
