<body>
  <div class="img-contnr">
    <img src="/images/personal-care-img.jpg" alt="" srcset="">
  </div>
  <div class="section3 flex ">
    <%- include ("serviceMenu.ejs" )%>
    <div class="about-right">
      <div id="personal-care-and-companionship" class="things-to-know">
        <h2> PERSONAL CARE AND COMPANIONSHIP</h2>
        <br>
        <br>
        <p>
          Our caregivers will ensure that our clients personal care needs are met and be their social companion,
          engaging with them in conversation and fun activities.
          <br>
          Senior citizens often experience loneliness if their family lives a great distance away or if their friends
          are far away or have passed on. It is common for seniors who are lonely to experience depression.
          <br>
          At Living Spring Home Care Services, our caregivers provide personal care and companionship for senior
          citizens to ensure that they get excellent care and meaningful companionship. Our caregivers aim to provide
          more than just quality care for you or your loved ones. We will get to know you or your loved ones on a
          personal level to be a friend to them and provide them with good company.
          <br>
          At Living Spring Home Care Services, we carefully screen all of our caregivers and ensure that they have been
          properly trained to provide effective home care and be a good companion for you or your loved ones. Our
          screening process helps ensure that we only send trustworthy individuals to you or your loved one’s home who
          will treat them with compassion and respect. Our caregivers are also licensed, bonded, and insured for your
          protection.
          <br>
          The personal care services that we provide for our seniors and adults with disabilities include activities of
          daily living (ADLs) as well as help with other activities that are instrumental for living an independent
          life. As we help you or your loved ones with these personal care services, we will build a personal connection
          with them through good conversation and fun activities.
          <br>
          <strong>We provide these personal care services:</strong>
          <br>
          <br>
        <ul class="wwd-list">
          <li><strong>Personal Care:</strong> We are ready to help you or your loved ones with a range of personal care
            services based on their needs including help eating, getting dressed, oral hygiene, bathing, restroom use,
            medication reminders, incontinence care, walking, and transferring to help get in and out of their bed,
            recliner, or wheelchair.</li>
          <li><strong>Housekeeping:</strong> Our caregivers can help keep the home clean by helping with light
            housekeeping duties. We will take care of household chores including laundry, vacuuming, dusting and
            emptying the trash.</li>
          <li><strong>Meal Preparation:</strong> Eating regular, nutritious meals is important for the health and
            well-being of seniors. However, many seniors cannot prepare meals themselves. Our caregivers will prepare
            meals for you or your loved ones each day that follow their dietary restrictions and we will even help with
            the grocery shopping.</li>
          <li><strong>Errands:</strong> if you or your loved ones don’t drive, we can help take care of necessary
            errands including grocery shopping and prescription pickup.</li>
          <li><strong>Light Housekeeping:</strong> Our caregivers will help keep the home clean with certain light
            housekeeping tasks including washing dishes, laundry, dusting, vacuuming, sweeping, emptying trash, and
            other household chores.</li>
          <li><strong>Meal Preparation: </strong>It is common for senior citizens to experience malnutrition by skipping
            meals or not eating healthy enough. Our caregivers will prepare nutritious meals that account for any
            dietary restrictions. </li>
          <li><strong>Transportation:</strong> We can help senior who no longer drive get to doctor appointments and
            other important events by providing transportation. We can also help with grocery shopping and other
            errands.</li>
          <li><strong>Companionship:</strong> Providing exceptional care is only part of our home care services. Our
            caregivers will also build a personal relationship with you or your loved ones to be their companion as well
            as their caregiver. We will get to know you or your loved ones through good conversation and engage with
            them in their favorite hobbies, activities, and games.</li>
        </ul>
        </p>
        <br>

      </div>

    </div>
  </div>

</body>