<body>
  <div class="img-contnr">
    <img src="/images/post-surgical-image23.jpg" alt="" srcset="">
  </div>
  <div class="section3 flex">
    <%- include ("serviceMenu.ejs" )%>
    <div class="about-right">
      <div id="post-surgical-care-services" class="things-to-know">
        <h2>POST-SURGICAL CARE</h2>
        <br />
        <br />
        <p>
          Our caregivers will care for individuals after surgery and help them
          follow their doctor’s orders to ensure they fully recover from their
          surgery.
          <br />
          Numerous healthcare changes over the past few years have resulted in a
          lot of patients getting discharged from rehabilitation centers
          following surgery or an illness before they’re able to provide their
          own care.
          <br />
          In such a case, families need to search for other options. Many
          patients don’t want to go to a nursing home or other post-operative
          care facility. Rather, they prefer the comfort and familiarity of
          their own home, but it’s unsafe for them to be there on their own.
          <br />
          At Living Spring Home Care Services, we offer post-surgical care
          services to help you or your loved ones recover at their home. Abiding
          to all doctors’ instructions and post-operative care procedures is
          crucial in order to ensure a complete recovery. Our caregivers are
          aware of this and will make sure your loved one follows the doctor’s
          instructions to make a full recovery.
          <br />
          We will develop a personalized home care plan for you or your loved
          one by speaking with their nurses, surgical coordinators, and/or
          doctors. Furthermore, our caregivers are all properly trained to help
          patients with the transition process. With our services, we strive to
          provide your loved one with a safe and seamless transition back home
          so they can fully recover.
        </p>
        <br />
      </div>
    </div>
  </div>
</body>