<body>
  <div class="img-contnr">
    <img src="/images/respite-image.jpg" alt="" srcset="">
  </div>
  <div class="section3 flex ">
    <%- include ("serviceMenu.ejs" )%>
    <div class="about-right">
      <div id="respite-care-services" class="things-to-know">
        <h2>RESPITE CARE SERVICES</h2>
        <br>
        <br>
        <p>
          Family caregivers put long hours into caring for their relatives which can take a toll on their personal lives
          and their health. Our respite care services will allow your family caregivers to take some time off while our
          licensed caregivers provide care for you or your loved ones.
          <br>
          The responsibilities of being a family caregiver can be difficult to handle as family caregivers end up
          devoting much of their time to providing home care. This makes it difficult to have a career or spend time
          with immediate family. The long hours of being a family caregiver can also be stressful and cause the
          caregiver to lose sleep which can lead to physical health problems and other issues such as depression.
          <br>
          Our respite care services can benefit your family caregiver and you or your loved one receiving the care by
          allowing the family caregiver some time off to recharge and deal with personal matters. While the family
          caregiver takes time off, you or your loved ones will be in the hands of our trained and licensed caregiver.
          <br>
          When you call us for respite care services, we will evaluate the care needs of you or your loved ones as well
          as the type of care that the family caregiver provides. Living Spring Home Care Services will make sure that
          our caregiver provides the type of care that you or your loved one is used to from the family caregiver to
          make the transition as seamless as possible.
          <br>
          <strong>Our respite care services provide the following:</strong>
          <br>
          <br>
        <ul class="wwd-list">
          <li>Quality care from our licensed caregivers</li>
          <li>Care similar to that provided by the family caregiver</li>
          <li>Scheduled time off for the family caregiver</li>

        </ul>
        </p>
        <br>

      </div>
    </div>
  </div>
</body>