<body>
  <div class="img-contnr">
    <img src="/images/senior-home-care-Image.jpg" alt="" srcset="">
  </div>
  <div class="section3 flex ">
    <%- include ("serviceMenu.ejs" )%>
    <div class="about-right">
      <div id="senior-home-care-services" class="things-to-know">
        <h2>SENIOR HOME CARE SERVICES</h2>
        <br>
        <br>
        <p>
          Our staff will meet with you in your home to understand your unique care needs. Using this information, we
          will form a home care plan and assign a licensed caregiver who can provide you with excellent care and
          companionship.
          At Living Spring Services, we help senior citizens to age in place with our comprehensive senior home care
          services. We understand that each individual has their own unique care needs which is why we will work with
          you and your loved ones to ensure we develop an effective care plan. Our care plans are also flexible in case
          your need changes.
          <br>
          Help with Activities of Daily Living (ADLs)
          <br>
          It is common for seniors with mobility issues or cognitive limitations to have difficulty with basic self-care
          tasks, also known as activities of daily living (ADLs).
          <br>
          Our caregivers can help you with the following ADLs:
          <br>
          <br>
        <ul class="wwd-list">
          <li>Restroom Use: Our caregivers can also help those who need assistance to use the restroom, whether they
            need full or partial assistance.</li>
          <li>Dressing: We will help you or your loved ones get dressed for the day in the morning and for bed each
            evening.</li>
          <li>Personal Appearance: We know that personal appearance is important to those of all ages. We will help you
            or your senior loved ones maintain their personal appearance by helping with personal hygiene activities
            such as brushing their teeth and combing their hair.</li>
          <li>Incontinence Care: Our caregivers can respectfully help those struggling with incontinence issues, helping
            them clean up and change clothes.</li>
          <li>Mobility Assistance: We can help seniors with mobility issues by guiding them through the home and helping
            them get in and out of their bed, recliner, or wheelchair.</li>
          <br>
          In addition to ADLs, we provide following services:
          <li>Meal Preparation: It is common for senior citizens to experience malnutrition by skipping meals or not
            eating healthy enough. Our caregivers will prepare nutritious meals that account for any dietary
            restrictions. </li>
          <li>Transportation: We can help senior who no longer drive get to doctor appointments and other important
            events by providing transportation. We can also help with grocery shopping and other errands.</li>
          <li>Light Housekeeping: Our caregivers can help keep the home clean by helping with light housekeeping duties.
            We will take care of household chores including laundry, vacuuming, dusting and emptying the trash.</li>
          <li> Companionship: Our caregivers aim to be more than just the caregivers for our clients. We will build a
            personal connection with our clients and engage them in conversation and fun activities to be their
            companion.</li>
        </ul>
        </p>
        <br>

      </div>
    </div>
  </div>
</body>