<ul class="services container">
  <p>Our services</p>
  <li>
    <a href="/services#senior-home-care-services">Senior home care services</a>
  </li>
  <li>
    <a href="/services#elderly-care-services">Elderly care services</a>
  </li>
  <li>
    <a href="/services#alzheimer-demential-memory-care-services"
      >Alzheimer, Demential and memory care services</a
    >
  </li>
  <li>
    <a href="/services#respite-care-services">Respite care services</a>
  </li>
  <li>
    <a href="/services#hospice-care-services">Hospice care services</a>
  </li>
  <li>
    <a href="/services#fall-prevention-services">Fall prevention services</a>
  </li>
  <li>
    <a href="/services#post-surgical-care-services"
      >Post surgical care services</a
    >
  </li>
  <li>
    <a href="/services#personal-care-and-companionship">Show More Services</a>
  </li>
</ul>
