<body>
  <div class="img-contnr">
    <img src="/images/health2.jpg" alt="" srcset="">
  </div>
  <div class="section3 flex ">
    <%- include ("serviceMenu.ejs" )%>
    <div class="about-right">
      <div class="things-to-know">
        <h2>GENERAL CARE</h2>
        <br>
        <br>
        <p>
          <strong>How We Provide Care:</strong><br>
          We begin by assessing your needs through discussions with you or an
          involved family member to ensure that the proper care and care plans
          are being developed and implemented. Next, working in conjunction with
          the family, we develop an individualized program to manage your daily
          needs. We match your needs to the best possible caregiver(s). After
          the <strong>Living Spring Services</strong> caregiver has been placed
          into your home, we continue our unique system of continued
          personalized contacts through telephone check-in and home visits by
          our care manager. Most important of all, we continually communicate
          with the caregivers who are providing care to you for updates or any
          changes in your condition.
        </p>
        <br>
        <br>
        <p>
          Our service plans are individualized to meet your need.
          <strong>Our services include:</strong>
        <ul class="wwd-list">
          <li>Dementia Care/Special Needs</li>
          <li>Bathing/Showering/Grooming Assistance</li>
          <li>Dressing/Assist with Dressing</li>
          <li>Light Housekeeping/Laundry</li>
          <li>Meal Planning & Preparation</li>
          <li>Special Diet Meal Planning & Preparation</li>
          <li>Ambulating</li>
          <li>Transfers</li>
          <li>Medication Reminder</li>
          <li>Incontinence Care (protective clothing, bed liner)</li>
          <li>Safety Supervision with Usage of DME (Durable Medical equipment such as walker, gait belt, wheelchair &
            stair lift)</li>
          <li>Encouragement with routine exerciseEncouragement with routine exercise</li>
          <li>Transportation (doctor appointment, visiting friends)</li>
          <li>Shopping/Errands (using caregiver or client’s vehicle)</li>
          <li>Companionship (walks, games, movies)</li>
          <li>Observation and reporting changes to supervisor</li>
          <li>Feeding/Assist with feeding</li>
          <li>Hospice Care (non skilled): Turning, Skin Integrity Management and Comfort Care</li>
          <li>Catheter, Ostomy Emptying</li>
        </ul>
        <br>
        <br>
        <p> <strong>Live-In 24 Hour Care</strong>
          We tailor our services to fit your needs by providing Live-In services (24-hour Care) as we customize our
          services to your needs and schedule.
        </p>


        </p>
      </div>
    </div>
  </div>
</body>