<body>
  <div class="section3 flex ">
    <%- include ("serviceMenu.ejs" )%>
    <div class="about-right">
      <div class="things-to-know">
        <h2>GENERAL CARE</h2>
        <br>
        <br>
        <p>
          <strong>How We Provide Care:</strong><br>
          We begin by assessing your needs through discussions with you or an
          involved family member to ensure that the proper care and care plans
          are being developed and implemented. Next, working in conjunction with
          the family, we develop an individualized program to manage your daily
          needs. We match your needs to the best possible caregiver(s). After
          the <strong>Living Spring Services</strong> caregiver has been placed
          into your home, we continue our unique system of continued
          personalized contacts through telephone check-in and home visits by
          our care manager. Most important of all, we continually communicate
          with the caregivers who are providing care to you for updates or any
          changes in your condition.
        </p>
        <br>
        <br>
        <p>
          Our service plans are individualized to meet your need.
          <strong>Our services include:</strong>
          <ul class="wwd-list">
            <li>Dementia Care/Special Needs</li>
            <li>Bathing/Showering/Grooming Assistance</li>
            <li>Dressing/Assist with Dressing</li>
            <li>Light Housekeeping/Laundry</li>
            <li>Meal Planning & Preparation</li>
            <li>Special Diet Meal Planning & Preparation</li>
            <li>Ambulating</li>
            <li>Transfers</li>
            <li>Medication Reminder</li>
            <li>Incontinence Care (protective clothing, bed liner)</li>
            <li>Safety Supervision with Usage of DME (Durable Medical equipment such as walker, gait belt, wheelchair & stair lift)</li>
            <li>Encouragement with routine exerciseEncouragement with routine exercise</li>
            <li>Transportation (doctor appointment, visiting friends)</li>
            <li>Shopping/Errands (using caregiver or client’s vehicle)</li>
            <li>Companionship (walks, games, movies)</li>
            <li>Observation and reporting changes to supervisor</li>
            <li>Feeding/Assist with feeding</li>
            <li>Hospice Care (non skilled): Turning, Skin Integrity Management and Comfort Care</li>
            <li>Catheter, Ostomy Emptying</li>
          </ul>
          <br>
          <br>
        <p>          <strong>Live-In 24 Hour Care</strong> 
            We tailor our services to fit your needs by providing Live-In services (24-hour Care) as we customize our services to your needs and schedule.  
        </p>


        </p>
        </div>
        <div id= "senior-home-care-services"class="things-to-know">
          <h2>SENIOR HOME CARE SERVICES</h2>
          <br>
          <br>
          <p>
            Our staff will meet with you in your home to understand your unique care needs.  Using this information, we will form a home care plan and assign a licensed caregiver who can provide you with excellent care and companionship.
            At Living Spring Services, we help senior citizens to age in place with our comprehensive senior home care services.  We understand that each individual has their own unique care needs which is why we will work with you and your loved ones to ensure we develop an effective care plan.  Our care plans are also flexible in case your need changes.
            <br>
            Help with Activities of Daily Living (ADLs)
            <br>
            It is common for seniors with mobility issues or cognitive limitations to have difficulty with basic self-care tasks, also known as activities of daily living (ADLs). 
            <br>
            Our caregivers can help you with the following ADLs:
            <br>
            <br>
            <ul class="wwd-list">
              <li>Restroom Use: Our caregivers can also help those who need assistance to use the restroom, whether they need full or partial assistance.</li>
              <li>Dressing: We will help you or your loved ones get dressed for the day in the morning and for bed each evening.</li>
              <li>Personal Appearance: We know that personal appearance is important to those of all ages. We will help you or your senior loved ones maintain their personal appearance by helping with personal hygiene activities such as brushing their teeth and combing their hair.</li>
              <li>Incontinence Care: Our caregivers can respectfully help those struggling with incontinence issues, helping them clean up and change clothes.</li>
              <li>Mobility Assistance: We can help seniors with mobility issues by guiding them through the home and helping them get in and out of their bed, recliner, or wheelchair.</li>
              <br>
              In addition to ADLs, we provide following services:
              <li>Meal Preparation: It is common for senior citizens to experience malnutrition by skipping meals or not eating healthy enough. Our caregivers will prepare nutritious meals that account for any dietary restrictions. </li>
              <li>Transportation: We can help senior who no longer drive get to doctor appointments and other important events by providing transportation. We can also help with grocery shopping and other errands.</li>
              <li>Light Housekeeping: Our caregivers can help keep the home clean by helping with light housekeeping duties. We will take care of household chores including laundry, vacuuming, dusting and emptying the trash.</li>
              <li>	Companionship: Our caregivers aim to be more than just the caregivers for our clients. We will build a personal connection with our clients and engage them in conversation and fun activities to be their companion.</li>
            </ul>  
          </p>
          <br>

          </div>
        <div id= "elderly-care-services"class="things-to-know">
          <h2>ELDERLY CARE SERVICES</h2>
          <br>
          <br>
          <p>
            We will form a complete elder care plan that accommodates the unique needs of our clients and assign one of our highly trained and licensed caregivers to ensure that your loved ones receive quality care.
            <br>
            Living Spring Home Care Services provides complete elderly care services to help senior citizens age safely and comfortably in their own homes.  Our staff will assess the care needs of the clients and work with them or family to create a care plan and schedule that benefits all involved.  We will choose a caregiver who we feel will provide excellent care services and be a good fit as a companion for the client.
            <br>
            Our elderly care services start with a visit from our staff to evaluate the home and unique care needs of the client.  With input from you and your loved ones, we will form a care plan that accommodates their care needs and includes a schedule for our caregiver.  Our home care plans can always be adjusted if the care needs of your loved ones change.
            <br>
            <strong>We can include the following in our elderly home care plans:</strong> 
            <br>
            <br>
            <ul class="wwd-list">
              <li>Assistance with activities of daily living (ADLs)</li>
              <li>Meal preparation</li>
              <li>Light housekeeping</li>
              <li>Errands and transportation</li>
              <li>Respite care</li>
              <li>Hospice care</li>
              <br>
            <strong>Our elderly care services can include the following depending on your or your loved one’s needs:</strong> 
              <li><strong>Personal Care:</strong> Our caregivers are ready to assist elderly individuals with personal care including help bathing, getting dressed, using the restroom, and other activities.  </li>
              <li><strong>Companionship: </strong> Our caregivers will act as a companion for your loved ones, getting to know them on a personal level through conversation and engaging with them in their favorite hobbies and activities.</li>
              <li><strong>Fall Prevention:</strong> We will reduce the risk of falls by keeping walkways in the home clear and guiding your loved ones as they move throughout the home.</li>
              <li><strong>Meal Preparation:</strong> We can help seniors who do not cook for themselves by preparing nutritious meals for them each day. We will make sure to follow any dietary restrictions when preparing meals.</li>
              <li><strong>Transportation and Errands:</strong> We can provide transportation services to help them make their doctor appointments, family gatherings, and other events. Our caregivers will also help with errands as needed.</li>
              <li><strong>Light Housekeeping:</strong>	 It is important to keep the home clean, but it can be difficult for elderly individuals to handle many housekeeping tasks. Our caregivers will take care of certain housekeeping tasks, including laundry, vacuuming, emptying trash, and dusting to keep the home clean..</li>
              <li><strong>Respite Care:</strong> Family caregivers spend long hours providing care for their loved ones and need some time off to handle their personal matters. With our respite care services, we can schedule one of our caregivers to relieve the family caregiver and give them some time off.</li>
              <li><strong>Alzheimer’s and Dementia Care:</strong> It is beneficial for those suffering from Alzheimer’s and other forms of dementia to receive care at home because it is a familiar environment. Our caregivers are trained to provide care for those suffering from these conditions, including memory care that can help slow their memory loss.</li>
              <li><strong>Hospice Care:</strong> Caring for a loved one with limited life expectancy or a terminal illness can be difficult while also trying to manage their end of life affairs. With our hospice care services, we will provide care for your loved ones and keep them comfortable while you visit with them and handle their affairs.  </li>
            </ul>  
          </p>
          <br>

          </div>
        <div id= "personal-care-and-companionship"class="things-to-know">
          <h2> PERSONAL CARE AND COMPANIONSHIP</h2>
          <br>
          <br>
          <p>
            Our caregivers will ensure that our clients personal care needs are met and be their social companion, engaging with them in conversation and fun activities.
          <br>
            Senior citizens often experience loneliness if their family lives a great distance away or if their friends are far away or have passed on.  It is common for seniors who are lonely to experience depression.
            <br>
            At Living Spring Home Care Services, our caregivers provide personal care and companionship for senior citizens to ensure that they get excellent care and meaningful companionship.  Our caregivers aim to provide more than just quality care for you or your loved ones.  We will get to know you or your loved ones on a personal level to be a friend to them and provide them with good company.
            <br>
            At Living Spring Home Care Services, we carefully screen all of our caregivers and ensure that they have been properly trained to provide effective home care and be a good companion for you or your loved ones.  Our screening process helps ensure that we only send trustworthy individuals to you or your loved one’s home who will treat them with compassion and respect.  Our caregivers are also licensed, bonded, and insured for your protection.
            <br>
            The personal care services that we provide for our seniors and adults with disabilities include activities of daily living (ADLs) as well as help with other activities that are instrumental for living an independent life.  As we help you or your loved ones with these personal care services, we will build a personal connection with them through good conversation and fun activities.
            <br>
            <strong>We provide these personal care services:</strong>
            <br>
            <br>
            <ul class="wwd-list">
              <li><strong>Personal Care:</strong>  We are ready to help you or your loved ones with a range of personal care services based on their needs including help eating, getting dressed, oral hygiene, bathing, restroom use, medication reminders, incontinence care, walking, and transferring to help get in and out of their bed, recliner, or wheelchair.</li>
              <li><strong>Housekeeping:</strong>  Our caregivers can help keep the home clean by helping with light housekeeping duties. We will take care of household chores including laundry, vacuuming, dusting and emptying the trash.</li>
              <li><strong>Meal Preparation:</strong> Eating regular, nutritious meals is important for the health and well-being of seniors. However, many seniors cannot prepare meals themselves.  Our caregivers will prepare meals for you or your loved ones each day that follow their dietary restrictions and we will even help with the grocery shopping.</li>
              <li><strong>Errands:</strong> if you or your loved ones don’t drive, we can help take care of necessary errands including grocery shopping and prescription pickup.</li>
              <li><strong>Light Housekeeping:</strong> Our caregivers will help keep the home clean with certain light housekeeping tasks including washing dishes, laundry, dusting, vacuuming, sweeping, emptying trash, and other household chores.</li>
              <li><strong>Meal Preparation: </strong>It is common for senior citizens to experience malnutrition by skipping meals or not eating healthy enough. Our caregivers will prepare nutritious meals that account for any dietary restrictions. </li>
              <li><strong>Transportation:</strong> We can help senior who no longer drive get to doctor appointments and other important events by providing transportation. We can also help with grocery shopping and other errands.</li>
              <li><strong>Companionship:</strong>  Providing exceptional care is only part of our home care services. Our caregivers will also build a personal relationship with you or your loved ones to be their companion as well as their caregiver.  We will get to know you or your loved ones through good conversation and engage with them in their favorite hobbies, activities, and games.</li>
            </ul>  
          </p>
          <br>

          </div>
      </div>
    </div>
  </div>
</body>
